.nimcetfullhandle {
  width: 100%;
  background-color: #7a30b3;
  min-height: 100vh;
}
.nimcetcardhandle {
  height: 160px;
  width: 150px;
  background-color: burlywood;
  margin-right: 12px;
  border-radius: 7px;
  text-align: center;
}

.nimcetgetcardhandle {
  margin-left: 10px;
  margin-right: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (min-width: 700px) and (max-width: 810px) {
  .nimcetgetcardhandle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
  .nimcetgetcardhandle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 250px) and (max-width: 499px) {
  .nimcetgetcardhandle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
